[submodule "apps/console"]
	path = apps/console
	url = zeb:Choongkyu/console.git
	branch = main
[submodule "apps/api"]
	path = apps/api
	url = zeb:Choongkyu/api.git
	branch = main
[submodule "apps/website"]
	path = apps/website
	url = zeb:Choongkyu/website.git
	branch = main